.ai-content-wrapper {
    line-height: calc(var(--spacing) * 7);

    /* Các thẻ con có thể tùy chỉnh */
    p {
        margin-bottom: 0.75rem;
        /* 12px */
    }

    >ol {
        list-style: auto;
    }

    ul {
        list-style: disc;
    }

    ul,
    ol {
        margin-left: 1.5rem;
        /* 24px */
        margin-bottom: 0.75rem;
    }

    li {
        margin-bottom: 0.4rem;
        /* 6.4px */
    }

    li::marker {
        font-weight: 700;
    }

    /* Highlight markdown (ví dụ dấu **...**) */
    strong {
        font-weight: 700;
        /* Sử dụng biến Tailwind cho màu xanh dương */
        color: rgb(59 130 246 / var(--tw-text-opacity, 1));
        /* tương đương text-blue-600 */
    }

    pre {
        margin-bottom: calc(var(--spacing) * 2);
        padding: calc(var(--spacing) * 2);
        background-color: var(--color-gray-200);
    }

    /* Ví dụ cho code inline */
    code {
        white-space: pre-wrap;
        color: var(--color-green-800);
        background-color: var(--color-gray-200);
        /* text-pink-600 */
        padding: 2px 4px;
        border-radius: 4px;
        font-family: 'Courier New', Courier, monospace;
        font-size: 0.95em;
    }

    hr {
        color: var(--color-gray-300);
    }

}

:where(.dark, .dark *) {
    .ai-content-wrapper {
        pre {
            background-color: var(--color-gray-800);
        }

        code {
            color: rgb(248 113 113 / var(--tw-text-opacity, 1));
            background-color: var(--color-gray-800);
        }

        hr {
            margin-bottom: calc(var(--spacing) * 2);
            color: var(--color-gray-700);
        }

        strong {
            color: var(--color-blue-400);
        }
    }
}